ActionBar {
    background-color: #3fa70a;
}
StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
}
TextField {
    margin-top: 10;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
    color: white;
    placeholder-color: white;
    font-size: 18;
}
.proximo{
    background-color: #ec6d23;
    color: white;
    margin-top: 10;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}
.stack{
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
}
.num{
margin-right: 2;
}
.complemento{
margin-left: 2; 
width: 230;
}
ActivityIndicator {
    position: absolute;
    top: 200;
}