ActionBar {
    background-color: #3fa70a;
}
StackLayout {
    margin-left: 30;
    margin-right: 30;
    padding-bottom: 15;
}
.proximo{
    background-color: #ec6d23;
    color: white;
    margin-top: 10;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}
.locais{
    margin-top: 10;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 10;
}
.fa{
    background-color: #ec6d23;
    color: white;
    margin-top: 10;
    margin-left: 16;
    margin-right: 16;
    margin-bottom: 5;
}
.mais{
    width: 50;
    height: 50;
    border-radius: 25;
    font-size: 25;
}
